/*Header Section */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
    background-color: #1F2937;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;

}

.logo{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}
nav ul{
    display: flex;
}
a:link, a:visited{
    /*display: inline-block;
    background-color: white;
    color: #1F2937;
    text-decoration: none;
    height: 50px;
    width: auto;
    text-align: center; */
    align-items: center;
    background-color: #1f293700;
    box-sizing: border-box;
    color: #fffcfc;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 16px;
    font-weight: 600;
    height: 75px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

a:hover, a:active{
    /* background-color:antiquewhite;
    border: 2px solid;
    border-color: blue; */
    border-color: rgb(53, 65, 84);
    color: rgb(199, 207, 220);
    fill: rgb(243, 247, 253);
    background-color: #8586ba;
    border-radius: 15px;
}

/* Header Section Ends */

/* First Section Begins */

.flex-container-1{
    display: flex;
    background-color: #1F2937;
    height: 250px;
    align-items: center;
    color: white;
    padding: 120px;
    justify-content: space-between;

}

.flexbox-1 > h1{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    
}
.flexbox-1 > p{
    font-family: 'Roboto Slab', serif;
    filter:contrast(30%)
}
.flexbox-2{
    display: flex;
    background-color: grey;
    height: 350px;
    width: 600px;   
    justify-content: center;
    align-items: center;
}

.introduction{
    font-size: 48px;
    font-style: 0;
    text-align: center;
}

/* First Section Ends */

/* Second Section Begins */

.flex-container-2{
    display: flex;
    background-color: #fffcfc;
    height: 475px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    vertical-align: top;
}

.random-information{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bolder;

}
.flex-images{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

}
.flex-image1,.flex-image2,.flex-image3,.flex-image4{
    display: flex;
    border: #3882F6 solid;
    box-sizing: 2px;
    border-radius: 25px;
    height: 250px;
    width: 250px;
    margin-top: 10px;
    margin-left: 45px;
}

.flex-image-text{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.flex-text1,.flex-text2,.flex-text3,.flex-text4{
    display: flex;
    width: 250px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 45px;
    filter: contrast(30%);
}

/*Second Section Ends */

/* Third Section Begins */

.flex-container-3{
    display: flex;
    background-color: #E5E7EB;
    height: 475px;
    align-items: center;
    justify-content: center;
}

.flex-box3{
    height: 250px;
}

.quote, .quote-ref{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.quote{
    font-size: 42px;
}

.quote-ref{
    text-align: end;
}

/* Third Section Ends */

/* Fourth Section Begins */

.flex-container-4{
    display: flex;
    height: 250px;
    background-color: #fffcfc;
    align-items: center;
    justify-content: center;
}

.flex-box-4{
    display: flex;
    height: 250px;
    width: 1500px;
    background-color: #fffcfc;
    align-items: center;
    justify-content: center;
    flex: 1;
}   

.cta-p{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: rgb(14, 14, 14);
    font-size: 36px;
}

.cta-p2{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: rgb(14, 14, 14);
    font-size: 15px;
}

.inner-box-4{
    margin-right: 350px;
    padding: 0;
}

a.bottom-btn{
    background-color: #8586ba00;
    border-radius: 15px;
    color: black;
    border: #1F2937 solid;
    box-sizing: 2px;
}

a.bottom-btn:active, a.bottom-btn:hover{
    border-color: rgb(53, 65, 84);
    color: rgb(199, 207, 220);
    fill: rgb(243, 247, 253);
    background-color: #8586ba;
    border-radius: 15px;
}
/* Fourth Section Ends */

/* Fifth Section Begins */

.flex-container-5{
    display: flex;
    height: 150px;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;
}

.flex-box-5{
    display: flex;
}

.copyright{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}